* {
    margin: 0;
    padding: 0;
}

.first-page {
    margin-left: 8rm;
}

.navbar {
    margin-top: 50px;
    display: flex;
    margin-left: 85px;
}

.About {
    margin-left: 350px;
    gap: 20px;
    display: flex;
}

.photo {
    display: flex;
    width: 500px;

}

.size {
    font-size: 37px;
    width: 300px;
}

button {
    margin-top: 70px;
    border-radius: 20px;
    height: 40px;
    width: 100px;
}

.box1 {
    margin-top: 70px;
    padding: 100px;
}

.para1 {
    margin-top: 30px;
}

.img1 {
    margin-top: -120px;
    margin-left: 20rem;

}

/* // second page */
.second-page {
    background-image: url("img2.png");
    height: 100vh;
    background-size: cover;
    background-image: url(Image\ \(2\).png);
}

.Features {
    display: flex;
    padding-top: 50px;
    justify-content: center;
}

.para2 {
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

.Features-boxes {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.flash {
    height: 350px;
    width: 300px;
    border: 2px solid rgb(218, 208, 208);
    border-radius: 5%;
    padding: 20px;
    text-align: center;
    margin: 50px;
}

.flash1 {
    height: 40px;
    width: 130px;
}

.team {
    height: 90vh;
}

.team1 {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 30px;
    color: #1E0E62;
}

.team2 {
    text-align: center;
    color: #15143966;
}

.btn1 {
    margin-left: 45%;
    margin-top: 30px;
    height: 40px;
    width: 150px;
}

.team-container {
    margin-top: 50px;
    /* border: 2px solid red; */
    display: flex;
    padding-inline: 100px;
    justify-content: space-between;
}

.team-bx {
    height: 50%;
    width: 300px;
    border: 2px solid #15143966;
    border-radius: 10px;
}

.social-acc {
    display: flex;
}

.vanessa {
    text-align: center;
    margin-top: 20px;
}

.work {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.teamMember {
    margin-left: 33%;
    margin-top: 30px;
}

.t-bx {
    border: 1px solid #15143966;
    height: 30px;
    width: 100%;
    text-align: center;
    padding-top: 10px;
}

.footer {
    background-color: blue;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer-btn {
    display: flex;
    /* border: 2px solid white; */
    width: 60%;
    margin: auto;
    justify-content: space-between;
    font-size: 15px;
    margin-bottom: 80px;
    font-family: serif;
}